#pagina { margin: 0 auto;}

#cabecalho,#esquerda, #centro, #direita, #rodape {background-color: rgb(192, 165, 165);{
    margin: 10px;
}
  #cabecalho{background-color: rgb(221, 207, 189);}
  
}
#esquerda{
    width: 20%;
    height: 500px;
    float: left; 
    BEBIDAS:
    Café expresso
    Café c/ leite 
    Cappuccino
    Vanilla latte
    Café gelado
    Chocolate quente
    Machiatto 
    Chá verde 
    Chá matte
    Àgua
    Coca cola
    Fanta uva e laranja 
}
#centro{ 
    width: 55%;
    height: 500px;
    float: left;
}
  #direita{
    width: 20%;
    height: 500px;
    float: right ;
    image.png
  }  
  #rodape 



